/* 전체 선택자: 모든 요소를 선택(별로 시작한다) */
*{
  color: cyan;
}

/* 타입 (태그) 선택자: 특정 태그명을 가진 모든 요소 선택 */
h1 {
  color: blue;
}

/* 클래스 선택자: class 명을 가진 모든 요소를 선택 (점으로 시작한다.) */
.font-color
{
  color: orange;
}

/* ID 선택자: 태그의 id로 선택 (샾으로 시작) */
#p1 {
  color: violet;
}

/* 그룹 선택자: ','로 구분해서 복수의 요소를 선택 */
em, strong {
  color: rgb(238, 255, 0);
}
