/* ◎블럭 레벨요소
1.혼자 한 줄 다 차지 한다.
2.크기를 조절해서 위로 올라갈 공간이 충분한 것 처럼 보이나, 올라가지 않는다.
3.크기 조절은 가능하다. */

/* ◎인라인 레벨 요소 
1.콘텐츠 크기만큼만 크기가 고정된다.
2.크기 조절이 안된다
3. 공간이 충분하면 위로 올라온다 */

.div
{
  border: 1px solid #000;
}

.div-box,h1
{
  width: 100px;
}

span
{
  /* 인라인, 블럭 속성 둘다 부여, 블럭의 크기 조절할때 inlline-block을 쓴다.*/
  display:inline-block;


  width: 50vw;
  height: 50vh;
  
  padding: 5px;
  /* box-sizing:*/
  box-sizing: border-box;
}

.box1
{
  margin: 0;
  border: 5px solid #000;
  width:100px;
  height: 100px;
  padding: 5px;
  box-sizing: border-box;
  text-align: center;

}

.box2
{
  border: 5px solid blue;
  width:100px;
  height: 100px;
  padding: 5px;
  box-sizing: border-box;
  text-align: center;

}

.box3
{
  border: 5px solid red;
  width:100px;
  height: 100px;
  padding: 5px;
  box-sizing: border-box;
  text-align: center;

}

.sub_box
{
  border: 5px solid green;
  width:30px;
  height: 30px;
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
  display: inline-flex;
}
/* 
vw,vh(뷰포트 기준 단위): 뷰의 크기에 따라 비율로 설정 단위
%:부모요소의 크기에 따라 비율로 설정 단위 */
.div-parrent
{
  width: 200px;
  height: 200px;
  padding: 10px;
  margin: 10px;
  
}

.div-child
{
  border: 1px solid #000;
  width: 100%;
}

body 
{
  padding: 10px;
}

.div-box
{
  border: 1px solid #000;
  width: 100px;
  height: 100px;
  padding: 5px;
  box-sizing: border-box;
}

.div-margin
{
  margin: 20px;
  background-color: crimson;
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.5);
}

/*
수평거리, 수직거리, 흐림정도, 번짐정도, 색상, 그림자 방향 
 */