.cu_01{
  border: 2px solid black;
  text-align: center;
  font-size: 10px;
  width: 50px;
  height: 50px;
}

.cu_02{
  border: 2px solid red;
  text-align: center;
  font-size: 10px;
  width: 50px;
  height: 50px;
}

.cu_03{
  border: 2px solid blue;
  display: inline-flex;
  text-align: center;
  font-size: 10px;
  width: 50px;
  height: 50px;
}

.su_01{
  border: 2px solid pink;
  display: inline-flex;
  text-align: center;
  font-size: 5px;
  width: 25px;
  height: 25px;
}